
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.isOpen {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 64px;
    border-radius: 30px;
    width: 565px;
    height: 599px;
    background: #fff;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: transparent;
}

.icon {
    fill: none;
    stroke: #121417;
    stroke-width: 2.5;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.text {
    line-height: 1.375;
    color: rgba(18, 20, 23, 0.8);
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 40px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 438px;
    height: 54px;
}

.input::placeholder {
    line-height: 1.375;
    color: #121417;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: transparent;
    padding: 16px 180px;
    width: 438px;
    height: 60px;
    background: #f4c550;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.55556;
}

.label {
    position: relative;
}

.open {
    position: absolute;
    top: 17px;
    right: 17px;
    background-color: transparent;
    border: transparent;
}

.eye {
    fill: none;
    stroke: #121417;
    stroke-width: 2;
}