

.icon {
    fill: none;
    stroke: #F4C550;
    stroke-width: 2;
    margin-right: 8px;
}

.list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.item {
    display: flex;
    align-items: center;
}

.login {
    background-color: transparent;
    border: transparent;
    font-weight: 700;
    line-height: 1.25;
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 14px 39px;
    width: 166px;
    height: 48px;
    background: #121417;

    font-weight: 700;
    line-height: 1.25;
    color: #fff;
}