.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalWrapper {
  position: relative;
  border-radius: 30px;
  width: 600px;
  background: #fff;
  padding: 64px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalContent {
  max-height: 80vh;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: transparent;
}

.icon {
  fill: none;
  stroke: #121417;
  stroke-width: 2.5;
}
