

.form {
    position: relative;
    border-radius: 30px;
    width: 599px;
    background: #fff;
    padding: 64px;
}

.close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon {
    fill: none;
    stroke: #121417;
    stroke-width: 2.5;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.text {
    line-height: 1.375;
    color: rgba(18, 20, 23, 0.8);
    margin-bottom: 20px;
}

.teacher {
    display: flex;
    margin-bottom: 40px;
}

.image {
    border-radius: 100px;
    width: 44px;
    height: 44px;
    margin-right: 14px;
}

.paragraph {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    color: #8a8a89;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.label {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33333;
    margin-bottom: 20px;
}

.option {
    margin-left: 8px;
    line-height: 1.375;
}

.radiobox {
    margin-bottom: 24px;
}

.div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.radio {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.radio:checked {
    border-color: orange;
}

.radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 472px;
    height: 54px;
}

.input::placeholder {
    line-height: 1.375;
    color: #121417;
}

.item {
    margin-bottom: 18px;
}

.btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: transparent;
    border-radius: 12px;
    padding: 16px 215px;
    width: 472px;
    height: 60px;
    background: #f4c550;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.55556;
}

.error {
    color: red;
}
